.header {
    background: #d56060;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    height: 80px;

    padding: 8px 24px;
}

.header__menu {
    display: flex;
    flex-direction: column;

    width: 28px;

    padding: 8px;
    gap: 8px;

    cursor: pointer;
}

.header__menu-line {
    background-color: #FFFFFF;
  
    width: 28px;
    height: 4px;
}

.header__menu__line1-active {
    background-color: #FFFFFF;
  
    width: 28px;
    height: 4px;
    
    transform: rotate(45deg);
    position: relative;
    top: 6px;
}

.header__menu__line2-active {
   display: none;
}

.header__menu__line3-active {
    background-color: #FFFFFF;
  
    width: 28px;
    height: 4px;
    
    transform: rotate(-45deg);
    position: relative;
    top: -6px;
}

#logo {
    width: 60px;
}

